h1 {
    text-align: center;
    font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    
}

#second {
font: 400 100px/1.3 'Arizonia', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 

}

#first {
    font-size: 60px;
}

#col1 {
    padding: 200px;
    background-color: black;
    background-image: url("https://cdn.postgradproblems.com/wp-content/uploads/2016/09/a8191590dc5c964da941ea8d6cf9f12c.jpg");
    background-repeat: no-repeat;
    text-align: center;
    
}

#col2 {
    padding: 200px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGrTwoXYZxdQv_EX_c2D97bNonDlitEhlXi1iW9uDz13msQ1uM");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home {
    background-image: linear-gradient(to bottom, #32a5c2, #2079b0);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
  text-shadow: 3px 2px 1px black;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;
  font-family: Arial;
    color: #fafafa;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

#out {
    background-image: linear-gradient(to bottom, #eb94d0, #eb94d0);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
  text-shadow: 3px 2px 1px black;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;
  font-family: Arial;
    color: #fafafa;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

